{% extends "base.jinja2" %}

{% block content %}
    <h1>Register</h1>
    
    <form id="register-form">
        <label for="username">Username</label>
        <input type="text" name="username">
    
        <label for="password">Password</label>
        <input type="password" name="password">
    
        <label for="confirm">Confirm Password</label>
        <input type="password" name="confirm">
    
        <button type="submit">Register</button>
    </form>
    
{% endblock content %}